.corpo{ 
    border: 20px solid pink;
background-color: beige;

}
.subtopicos {}

h1{

}

h2{
    color:black;
    font-size: 32px
}
 h3{
     font-size: 22px
    }
    h4{
        font-size: 26px;
        font-family:'Times New Roman';
    }